<article class="module width_full">
<header><h3>Processos de Lotação - Cancelar Lotação</h3></header>
<div class="module_content">
<div id="tabs1" class="tabset">
<%= form_tag(pessoa_funcionario_lotacao_salvar_cancelamento_url(@pessoa.id,@funcionario.id,@lotacao.id)) do -%>
 <fieldset style="height: 100%">
    <%= label_tag "Motivo do Cancelamento" %>
      <%= hidden_field :cancelar,:cancelar,:value=>@cancelar%>
      <%= text_area_tag :motivo,nil,:placeholder => 'Entre com o motivo do cancelamento da lotação...',:style=>"width:92%;",:required=>true,:autocomplete=>'on' %>
  </fieldset>
 <%= submit_tag 'Salvar' %>
<% end -%>
</div>
</div>
</article>
