<%content_for :links do%>
<%=link_to "Pessoas",pessoas_path%><div class="breadcrumb_divider"></div><%=link_to "Funcionários",pessoa_funcionarios_path(@pessoa)%><div class="breadcrumb_divider"></div><a class="current">Lotações</a>

<%end%>
<script type="text/javascript">

Event.observe(window, 'load', function() {

  new MaskedInput("#lotacao_data_lotacao", '99/99/9999');
  new MaskedInput("#pessoa_telefone_residencial", '(99) 9999-9999');
  new MaskedInput('#pessoa_telefone_celular', '(99) 9999-9999');
  new MaskedInput('#pessoa_cpf', '999.999.999-99');
  new MaskedInput('#ssn', '999-99-9999');
  new MaskedInput('#product', 'a*-999-a999');
  new MaskedInput('#eyescript', '~9.99 ~9.99 999', {
    completed: function(){
      alert("You typed the following: " + this.getValue());
    }
  });

  MaskedInput.definitions['~']='[+-]';

  new MaskedInput('#eyescript2', '~9.99 ~9.99 999', {
    completed: function(){
      alert("You typed the following: " + this.getValue());
    }
  });
});
</script>

<article class="module width_full">
  <header><h3>Lotações de <%=@pessoa.nome%>, <%=cargo_disciplina(@funcionario)%>, <%=jornada(@funcionario.sjuridica)%></h3></header>
  <div class="module_content">

    <div id="tabs1" class="tabset">

      <ul class="tabset_tabs">
        <li class="active"><a href="#tab-um">Novo Processo de Lotação</a></li>
        <li><a href="#tab-dois">Lotações em Aberto</a></li>
        <li><a href="#tab-tres">Histórico de Lotações</a></li>
        <li><a href="#tab-quatro">Histórico de Processos</a></li>
      </ul>

      <div class="tabset_content_container">
        <div id="tab-one" class="tabset_content">

          <%= form_for @lotacao,:url=>pessoa_funcionario_lotacoes_url do |f| %>
          <% if @lotacao.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@lotacao.errors.count, "error") %> prohibited this lotacao from being saved:</h2>

            <ul>
              <% @lotacao.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <%= f.hidden_field :usuario,:value=>current_user.username %>
          <%= f.hidden_field :funcionario_id,:value=>@funcionario.id %>

          <table border=0>

            <tr>
              <td><b><label>Tipo de Lotação</label></b></td>
              <%if current_user.role?("ucolom")==true%>
              <td><%= f.radio_button :tipo_lotacao,"REGULAR" %>Regular&nbsp;&nbsp;&nbsp;<%= f.radio_button :tipo_lotacao,"ESPECIAL" %>Especial &nbsp;&nbsp;&nbsp; <%= f.radio_button :tipo_lotacao,"SUMARIA",:checked => true %>Sumária &nbsp;&nbsp;&nbsp; <%= f.radio_button :tipo_lotacao,"SUMARIA ESPECIAL" %>Sumária - Especial</td>
              <%else%>
               <td><%= f.radio_button :tipo_lotacao,"SUMARIA",:checked => true %>Sumária &nbsp;&nbsp;&nbsp;</td>
              <%end%>

              </tr>

              <tr>
                <td><b><label>Destino</label></b></td>
                <td><div id="org"><%= text_field_with_auto_complete :escola, :nome_da_escola,:indicator=>'indicator1',:after_update_element=>"javascript.alert('teste')",:style=>"width:92%;",:required=>true  %></div></td>
                <td><div id='esc'></div></td>
              </tr>

              <tr>
                <td><b><label>Localização anterior </label> </b></td>
                <td><%=l_ant(@funcionario)%></td>
              </tr>

              <tr>
                <td><b><label>Localização atual</label> </b></td>
                <td><%=l(@funcionario)%></td>
              </tr>


  <%if !@funcionario.lotacoes.atual.none?%>
  <tr>

  <td><b><%= f.label :complentar_carga_horária %></b></td>
  <td><div id="comp"><%= f.check_box :complementar %></div></td>

  </tr>
  <%end%>

  <%if @funcionario.cargo and @funcionario.cargo.tipo and @funcionario.cargo.tipo.nome=='Magistério/Docência'%>
  <tr>
    <td><b><%= f.label :regencia_de_classe %></b></td>
    <td><div id="reg"><%= f.check_box :regencia_de_classe %></div></td>
  </tr>
  <%end%>
  <div id="motivo">
<tr VALIGN=TOP>
  <td><b><%= label_tag "Observação/Motivo" %></b></td>
  <td><%= text_area :lotacao,:motivo,:placeholder => 'Justifique esta lotação',:size=>"47x4"%></td>
</tr>
</div>


  <%=observe_field :lotacao_tipo_lotacao_especial, :url => "/lotacoes/complementar_esp/",
  :frequency => 0.25,
  :update => :comp,
  :with => 'esp'%>

  <%=observe_field :lotacao_tipo_lotacao_sumaria_especial, :url => "/lotacoes/complementar_esp/",
  :frequency => 0.25,
  :update => :comp,
  :with => 'esp'%>


  <%=observe_field :lotacao_complementar, :url => "/lotacoes/complementar/",
  :frequency => 0.25,
  :update => :reg,
  :with => 'complemento'%>

  <%=observe_field :lotacao_tipo_lotacao_sumaria, :url => "/lotacoes/regencia/",
  :frequency => 0.25,
  :update => :reg,
  :with => 'tipo_lotacao'%>

  <%=observe_field :lotacao_tipo_lotacao_especial, :url => "/lotacoes/especial/",
  :frequency => 0.25,
  :update => :org,
  :with => 'tp_lotacao'%>

  <%=observe_field :lotacao_tipo_lotacao_sumaria_especial, :url => "/lotacoes/sumesp/",
  :frequency => 0.25,
  :update => :org,
  :with => 'tp_lotacao'%>



</table>
<div id="lotar">
  <div class="clear"></div>
  <footer>
    <div class="submit_link">
      <%=f.submit "Salvar",:class=>"alt_btn" %> ou <%=link_to 'Cancelar',:back%>
    </div>
  </footer>
</div>
<% end %>


<%=observe_field :lotacao_escola_id, :url => "/lotacoes/verifica_lotacao/#{@funcionario.id}",
:frequency => 0.25,
:update => :lotar,
:with => 'escola_id'%>

</div>


<div id="tab-two" class="tabset_content">
  <table class="tablesorter" cellspacing="0">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Destino</th>
        <th>Data da lotação</th>
        <th>Regência</th>
        <th>Usuário</th>
        <th>Status do Processo</th>
        <th colspan=3>Ações Disponíveis</th>

      </tr>
    </thead>
    <tbody>

      <%@lotacao_aberta.each do |lotacao_aberta|%>
      <tr>
        <td><%= lotacao_aberta.tipo_lotacao.titleize %></td>
        <td width=23%><%= destino(lotacao_aberta) %></td>
        <td><%= lotacao_aberta.data_lotacao.to_s_br %></td>
        <td><%= sim_nao(lotacao_aberta.regencia_de_classe) %></td>
        <td><%=lotacao_aberta.usuario%></td>
        <td><%=status_lotacao(lotacao_aberta.status.last.status)%></td>
        <td><%= link_to  image_tag('/images/pdf.png',:title=>"Carta de Apresentação"), "/pessoas/#{@pessoa.id}/funcionarios/#{@funcionario.id}/carta.pdf?lotacao=#{lotacao_aberta.id}" %></td>
        <td><%= link_to  image_tag('/images/positivo.png',:title=>"Confirmação de Lotação"), pessoa_funcionario_lotacao_confirmar_lotacao_path(@pessoa,@funcionario,lotacao_aberta.id),:rel=>"facebox",:rev=>"height:300px;width:500px"  %></td>
        <td><%= link_to  image_tag('/images/icn_deletar.png',:title=>"Cancelar Lotação"), pessoa_funcionario_lotacao_cancelar_lotacao_path(lotacao_aberta.funcionario.pessoa_id,lotacao_aberta.funcionario_id,lotacao_aberta.id,:convalidar=>false),:rel=>"facebox",:rev=>"height:300px;width:500px"  %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>

<div id="tab-three" class="tabset_content">





  <table class="tablesorter" cellspacing="0">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Destino</th>
        <th>Data da lotação</th>
        <th>Regência</th>
        <th>Usuário</th>
        <th>Confirmada em</th>
        <th>Status</th>
        <th colspan='2'>Ações</th>
      </tr>
    </thead>
    <tbody>

      <%@lotacoes.each do |l|%>
      <tr>
        <td><%= l.tipo_lotacao.titleize %></td>
        <td width=23%><%= destino(l) %></td>
        <td><%= l.data_lotacao.to_s_br %></td>
        <td><%= sim_nao(l.regencia_de_classe) %></td>
        <td><%= l.usuario %></td>
        <td><%= l.data_confirmacao.to_s_br %></td>
        <td><%=status_lotacao(l.status.last.status)%></td>
        <%if l.status.last.status=="LOTADO"%>
        <td><%= link_to  image_tag('/images/icn_devolver.png',:title=>"Devolver funcionario"), pessoa_funcionario_lotacao_devolver_funcionario_path(@pessoa,@funcionario,l.id),:rel=>"facebox",:rev=>"height:300px;width:500px"  %></td>
        <%end%>
      </tr>
      <%end%>

    </tbody>
  </tfooter>
  <tr>
    <td><%=will_paginate @lotacoes%></td>
  </tr>
</tfooter>
</table>

</div>


<div id="tab-four" class="tabset_content">
  <div id="conteudo">
    <table class="tablesorter" cellspacing="0">
      <thead>
        <tr>
          <th>Processo</th>
          <th>Natureza do Processo</th>
          <th>Finalizado?</th>
        </tr>
      </thead>
      <tbody>

        <%@processos.each do |p|%>
        <tr>
          <td><%= p.processo %></td>
          <td><%= p.natureza %></td>
          <td><%= sim_nao(p.finalizado) %></td>
        </tr>
        <%end%>

      </tbody>
    </tfooter>
    <tr>

    </tr>
  </tfooter>
</table>
</div>
</div>


</div>


</div>
</div>

</div>

</article>
