<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Listando folhas do (a) <%=@quadro.nome%></h3>
		<ul class="tabs">

		</ul>
		</header>
    <div class="tab_container">
		<div id="tab1" class="tab_content">
<table class="tablesorter" cellspacing="0">
<thead>
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @folhas.each do |folha| %>
  <tr>
    <td><%= folha.codigo %></td>
    <td><%= folha.nome %></td>
    <td><%= link_to 'Detalhes', quadro_folha_path(@quadro,folha) %></td>
    <td><%= link_to  image_tag('/images/icn_edit.png',:title=>"Editar"), edit_quadro_folha_path(@quadro,folha) %></td>
    <td><%= link_to  image_tag("/images/icn_trash.png",:title=>"Apagar"), quadro_folha_path(@quadro,folha), :confirm => 'Tem certeza que deseja Apagar?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
<footer>
				<div class="submit_link">
				  <%= link_to 'Cadastrar Folha', new_quadro_folha_path,:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', quadros_path,:type=>"submit" %>
				</div>
			</footer>
</article>
