<%content_for :links do%>
		<a class="current">Cargos</a>

<%end%>
<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Cargos</h3>
		<ul class="tabs">
			<%= form_for @search do |f| %>
   			<li><%= f.text_field :busca,:size=>12 %></li>
    		<li><%= image_submit_tag "icn_busca.png" %></li>
			<% end %>
		</ul>
		</header>
    
		
<table class="tablesorter" cellspacing="0">
<thead>
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @cargos.each do |cargo| %>
  <tr>
    <td><%= cargo.codigo %></td>
    <td><%= cargo.nome.titleize %></td>
    <td><%= detalhes(cargo.tipo) %></td>
    <td><%= detalhes(cargo.entidade) %></td>
    <td><%= link_to 'Detalhes', cargo %></td>
    <td><%= link_to  image_tag('/images/icn_edit.png',:title=>"Editar"), edit_cargo_path(cargo) %></td>
    <td><%= link_to  image_tag("/images/icn_trash.png",:title=>"Apagar"), cargo, :confirm => 'Tem certeza que deseja Apagar?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<footer>
				<div class="submit_link">
				  <%= link_to 'Cadastrar Cargo', new_cargo_path,:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', :back,:type=>"submit" %>
				</div>
         <div class="submit_link">
        <%= will_paginate @cargos %>
        </div>

			</footer>

</article>
