<article class="module width_3_quarter">
<header><h3><%=legenda%></h3></header>
<div class="module_content">

<%= form_for @ano_letivo,:url=>anos_letivos_url do |f| %>
  <% if @ano_letivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ano_letivo.errors.count, "erro impede","erros impedem") %> este ano_letivo de ser cadastrado:</h2>

      <ul>
      <% @ano_letivo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :inicio %><br /><br />
        <%= f.date_select :inicio,:start_year=>Date.today.year,:end_year=>Date.today.year+1,:order=>[:day,:month,:year],:style=>"width:40%;",:prompt=>true %>
    
  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :termino %><br /><br />
        <%= f.date_select :termino,:start_year=>Date.today.year,:end_year=>Date.today.year+1,:order=>[:day,:month,:year],:style=>"width:40%;",:prompt=>true %>
    
  </fieldset>
  <fieldset style="width:98%; height: auto; float:left; margin-right: 1%;">
    <%= f.label :informacoes %><br />
    <%= f.text_area :informacoes,:style=>"width:94%"%>
    
  </fieldset>
<div class="clear"></div>
</div>
        <footer>
				<div class="submit_link">
					<%=f.submit "Salvar",:class=>"alt_btn" %> 
				</div>
			</footer>
<% end %>
</div>
</article>