<article class="module width_3_quarter">
  <header><h3 class="tabs_involved">Listando Anos Letivos</h3>
  </header>
  <div class="tab_container">
    <div id="tab1" class="tab_content">
      <table class="tablesorter" cellspacing="0">
        <thead>
          <tr>
            <th>Início</th>
            <th>Término</th>
            <th>Ano</th>
            <th colspan=3>Açoes</th>
          </tr>
        </thead>
        <tbody>
          <% @ano_letivos.each do |ano_letivo| %>
          <tr>
            <td width=10%><%= ano_letivo.inicio.to_s_br %></td>
            <td width=10%><%= ano_letivo.termino.to_s_br %></td>
            <td width=10%><%= ano_letivo.ano %></td>
            <td width=10%><%= link_to "Carencias",anos_letivo_gerir_carencias_path(ano_letivo) %></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <footer>
    <div class="submit_link">
      <%= link_to 'Cadastrar Ano letivo', new_anos_letivo_path,:class=>"alt_btn",:type=>"submit"%> ou
      <%= link_to 'Voltar', :back,:type=>"submit" %>
    </div>
  </footer>
</article>
<div id="ano_letivo"></div>
