<article class="module width_full">
<header><h3>Detalhes de </h3></header>
<div class="module_content">

<p>
  <b>Inicio:</b>
  <%= @ano_letivo.inicio.to_s_br %>
</p>

<p>
  <b>Termino:</b>
  <%= @ano_letivo.termino.to_s_br %>
</p>

<p>
  <b>Informacoes:</b>
  <%= @ano_letivo.informacoes %>
</p>


</div>
<footer>
				<div class="submit_link">
				  <%= link_to 'Editar', edit_anos_letivo_path(@ano_letivo),:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', anos_letivos_path,:type=>"submit" %>
				</div>
			</footer>
</article>

