<article class="module width_full">
<header><h3><%=legenda%></h3></header>
<div class="module_content">


<%= form_for(@matriz) do |f| %>
  <% if @matriz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matriz.errors.count, "erro impede","erros impedem") %> este matrize de ser cadastrado:</h2>

      <ul>
      <% @matriz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=f.hidden_field :entidade_id,:value=>current_user.entidade_id%>

  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :codigo %><br />
        <%= f.text_field :codigo,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :nivel %><br />
        <%= f.select :nivel,Matriz::NIVEL,:prompt=>"Indique o nível de ensino",:style=>"width:92%;" %>
    <br /><br />
  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :modalidade %><br />
        <%= f.select :modalidade,Matriz::MOD,:prompt=>"Indique a modalidade de ensino",:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :dias_letivos_anuais %><br />
        <%= f.text_field :dias_letivos_anuais,:style=>"width:92%;" %>

  </fieldset>
<fieldset style="width:97%; float:left; margin-right: 1%;">
<label> Séries Disponíveis </label> <br/><br/>
  <% for serie in Serie.find(:all) %>
    <div>
      <%= check_box_tag "matriz[serie_ids][]", serie.id, @matriz.series.include?(serie) %>
      <%= serie.nome %>
    </div>
  <% end %>
</fieldset>
<fieldset style="width:97%; float:left; margin-right: 1%;">
<div id='disciplinas'></div>
</fieldset>

<%=observe_field :matrize_series_ids_, :url => "/matrizes/criar_curriculo",
      :frequency => 0.25,
      :update => :disciplinas,
      :with => 'serie'%>

<div class="clear"></div>
</div>
        <footer>
				<div class="submit_link">
					<%=f.submit "Salvar",:class=>"alt_btn" %> ou <%=link_to 'Cancelar',:back%>
				</div>
			</footer>
<% end %>
</article>
