<%content_for :links do%>
		<%=link_to "Matrizes",matrizes_path%><div class="breadcrumb_divider"></div><a class="current">Configurando Curriculos</a>

<%end%>
<article class="module width_full">
<header><h3>Configurando currículos da matriz <%=@matriz.codigo%></h3></header>
<div class="module_content">
<div id='curriculos'>
<h1>Séries Cadastradas na Matriz</h1>

<%for c in @curriculos%>

<%=form_for c,:url=>matriz_curriculo_url(@matriz,c),:method=>:post,:remote=>true do |f|%>

<fieldset style="width:20%;float:left; margin-right: 1%;">
&nbsp;&nbsp;&nbsp;<b><%=c.serie.nome%> - <%=c.disciplina.nome[0..15]%></b><br/><br/>
&nbsp;&nbsp;&nbsp;<b>horas semanais</b><br/>
<div id="campo_<%=c.id%>">
<%=f.text_field :horas_semanal,:style=>"width:30px;align:left;",:id=>"horas_semanais_"+c.id.to_s%>
<%=f.submit "Salvar",:class=>"alt_btn"%>
<%end%>
</div>
<br/>
</fieldset>

<%end%>
</div>

<div class="clear"></div>

</div>



</footer>

</article>
