<%content_for :links do%>
		<%=link_to "Matrizes",matrizes_path%><div class="breadcrumb_divider"></div><a class="current">Configurando Curriculos</a>

<%end%>
<article class="module width_full">
<header><h3>Configurando currículos da matriz <%=@matriz.codigo%></h3></header>
<div class="module_content">
<div id='curriculos'>
<h1 align=center>Séries Cadastradas na Matriz</h1>
<%@matriz.series.each do |s|%>
<h2 align=center>Disciplinas da <%=s.nome%></h2><b>

<fieldset style='border: 1px solid #CCCCCC; background: none; width: 80%; align: right; margin-left: 10.5%;'>
<%for c in s.curriculos.da_matriz(@matriz)%>

<%=form_for c,:url=>matriz_curriculo_url(@matriz,c),:method=>:post,:remote=>true do |f|%>

<fieldset style="width:31.7%;float:left; margin-left: 1%; margin-right: 0%;">
&nbsp;&nbsp;&nbsp;<b><%=c.disciplina.nome%></b><br/><br/>
&nbsp;&nbsp;&nbsp;<b>horas semanais</b><br/>
<div id="campo_<%=c.id%>">
<%=f.text_field :horas_semanal,:style=>"width:30px;align:left;",:id=>"horas_semanais_"+c.id.to_s%>
<%=f.submit "Salvar",:class=>"alt_btn"%>
<%end%>
</div>
<br/>
</fieldset>

<%end%>
</fieldset>
<%end%>

</div>

<div class="clear"></div>

</div>



</footer>

</article>
