<%content_for :links do%>
		<a class="current">Matrizes</a>

<%end%>

<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Listando matrizes</h3>
		<ul class="tabs">
		</ul>
		</header>
    <div class="tab_container">
		<div id="tab1" class="tab_content">
<table class="tablesorter" cellspacing="0">
<thead>
  <tr>
    <th>Código</th>
    <th>Nível</th>
    <th>Ações</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @matrizes.each do |matrize| %>
  <tr>
    <td><%= matrize.codigo %></td>
    <td><%= detalhes(matrize.nivel) %></td>
    <td><%= link_to 'Detalhes', matrize %></td>
    <td><%= link_to 'Configurar matriz', matriz_configurar_curriculos_path(matrize) %></td>
    <td><%= link_to  image_tag('/images/icn_edit_article.png',:title=>"Editar"), edit_matriz_path(matrize) %></td>
    <td><%= link_to  image_tag("/images/icn_trash.png",:title=>"Apagar"), matrize, :confirm => 'Tem certeza que deseja Apagar?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
<footer>
				<div class="submit_link">
				  <%= link_to 'Cadastrar Matriz', new_matriz_path,:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', :back,:type=>"submit" %>
				</div>
                <div class="submit_link">
                    <%=will_paginate @matrizes%>
                </div>
			</footer>
</article>
