<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Listando requisicoes</h3>
		</header>
    
		
<table class="tablesorter" cellspacing="0">
<thead>
  <tr>
    <th>Funcionario</th>
    <th>Tipo requisicao</th>
    <th>Periodo</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @requisicoes.each do |requisicao| %>
  <tr>
    <td><%= requisicao.funcionario_id %></td>
    <td><%= requisicao.tipo_requisicao %></td>
    <td><%= requisicao.periodo_id %></td>
    <td><%= requisicao.status %></td>
    <td><%= link_to 'Detalhes', requisicao %></td>
    <td><%= link_to  image_tag('/images/icn_edit.png',:title=>"Editar"), edit_requisicao_path(requisicao) %></td>
    <td><%= link_to  image_tag("/images/icn_trash.png",:title=>"Apagar"), requisicao, :confirm => 'Tem certeza que deseja Apagar?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<footer>
				<div class="submit_link">
				  <%= link_to 'Cadastrar Requisicao', new_requisicao_path,:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', :back,:type=>"submit" %>
				</div>
			</footer>
</article>

