<%content_for :links do%>
		<%=link_to "Escolas",escolas_path%><div class="breadcrumb_divider"></div><%=link_to "Ambientes",escola_ambientes_path%><div class="breadcrumb_divider"></div><a class="current">Configurando Ambientes  </a>

<%end%>
<article class="module width_full">
<header><h3>Configurar Ambiente</h3></header>
<div class="module_content">
<h3>Turmas Cadastradas no Ambiente</h3>
<div id="turma">
<table class="tablesorter" cellspacing="0">
<thead>
<tr>
<th>Turno</th>
<th>Ambiente</th>
<th>Série</th>
<th>Matriz Curricular</th>
<th>Ações</th>
</tr>
</thead>
<tbody>
<%@turmas.each do |t|%>
<tr>
<td><%=t.turno%></td>
<td><%=t.ambiente.nome%></td>
<td><%=detalhes(t.serie)%></td>
<td><%=cod(t.matriz)%></td>
<td><%=link_to "Remover Turma", escola_ambiente_excluir_turma_path(@escola,@ambiente,:turma_id=>t.id),:confirm=>"Tem certeza que deseja remover a turma",:remote=>true%></td>
</tr>
<%end%>
</tbody>
</table>
</div>
<br/>


<div class="clear"></div>

</div>

<footer>
<div class=submit_link>
<%=config_ambiente(@escola,@ambiente)%>
</div>
</footer>

</article>
