<%content_for :links do%>
<%=link_to "Orgãos",orgaos_path%><div class="breadcrumb_divider"></div><a class="current">Setores</a>

<%end%>
<article class="module width_full">
  <header><h3 class="tabs_involved">Listando Setores: <%=@orgao.sigla%></h3>
      <ul class="tabs">
        <%= link_to  image_tag('/images/icn_agenda.png',:title=>"Agenda Telefonica do orgão",:format=>:html), orgao_agenda_path(@orgao) %>
      </ul>
  </header>

  <div class="tab_container">
      <div id="tab1" class="tab_content">


        <table class='tablesorter' cellspacing="0">
            <thead>
              <tr>
                <th>Denominação</th>
                <th>Sigla</th>
                <th>Telefone</th>
                <th>Vinculação</th>
                <th>Responsável</th>
                <%if current_user.role?("gabinete")%>
                <th>Telefones</th>
                <%end%>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @departamentos.each do |departamento| %>
            <tr class='<%= cycle("odd", "even", :name => "row_class") -%>'>
                <td width='80%'><%= departamento.nome %></td>
                <td><%= departamento.sigla %></td>
                <td width='15%'><%= departamento.telefone %></td>
                <td><%= pai(departamento)%></td>
                <td><%= detalhes(departamento.responsavel) %></td>
                <%if current_user.role?("gabinete")%>
                <td><%=telefones(departamento.responsavel.pessoa.nome)%></td>
                <%end%>
                <td><%= link_to 'Detalhes', orgao_departamento_path(@orgao,departamento) %></td>
                <%if can? :manage,Departamento%>
                <td><%= link_to  image_tag('/images/icn_edit.png',:title=>"Editar"), edit_orgao_departamento_path(@orgao,departamento) %></td>
                <td><%= link_to  image_tag("/images/icn_trash.png",:title=>"Apagar"), orgao_departamento_path(@orgao,departamento), :confirm => 'Tem certeza que deseja Apagar?', :method => :delete %></td>
                <%end%>
            </tr>
            <% end %>
        </tbody>
    </table>

</div>
</div>
<footer>
    <div class="submit_link">
     <%= link_to 'Cadastrar Departamento', new_orgao_departamento_path(@orgao),:class=>"alt_btn",:type=>"submit"%> ou
     <%= link_to 'Voltar', :back,:type=>"submit" %>
 </div>
 <div class="submit_link">
   <%= will_paginate @departamentos %>
</div>
</footer>
</article>
