<%content_for :links do%>
    <a class="current">Ponto dos Funcionários</a>
<%end%>
<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Funcionários do departamento</h3>
		<ul class="tabs">

		</ul>
		</header>
    <div class="tab_container">
		<div id="tab1" class="tab_content">
<table class="tablesorter" cellspacing="0">
<thead>
  <tr>
    <th>Funcionário</th>
    <th>Matrícula</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @funcionarios.each do |f| %>
  <tr>
    <td><%= detalhes(f.pessoa) %></td>
    <td><%= f.matricula %></td>

    <td><%= link_to  image_tag("/images/icn_ponto.png",:title=>"Pontos do Funcionário"), orgao_departamento_pontos_path(@orgao,@departamento,:funcionario_id=>f.id) %></td>
     </tr>
<% end %>
</tbody>
</table>
</div>
</div>
<footer>
				<div class="submit_link">
				  <!--<%= link_to 'Imprimir Ponto', orgao_departamento_pontos_do_mes_path(@orgao,@departamento,:format=>:pdf),:class=>"alt_btn"%> -->
          <%= link_to 'Voltar', '/',:type=>"submit"%> ou
          <%=link_to "Gerar Pontos",orgao_departamento_gerar_pontos_path(@orgao,@departamento),:rel=>'facebox',:rev=>"height:300px;width:500px"%>
				</div>
			</footer>
</article>
