<%content_for :links do%>
		<%=link_to "Orgãos",orgaos_path%><div class="breadcrumb_divider"></div><%=link_to "Departamentos",orgao_departamentos_path%><div class="breadcrumb_divider"></div><a class="current">Detalhes</a>

<%end%>
<article class="module width_full">
<header><h3>Detalhes de </h3></header>
<div class="module_content">


<p>
  <b>Nome:</b>
  <%= @departamento.nome %>
</p>

<p>
  <b>Sigla:</b>
  <%= @departamento.sigla %>
</p>

<p>
  <b>Orgao:</b>
  <%= @departamento.orgao_id %>
</p>


</div>
<footer>
				<div class="submit_link">
				  <%= link_to 'Editar', edit_orgao_departamento_path(@orgao,@departamento),:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', orgao_departamentos_path(@orgao),:type=>"submit" %>
				</div>
			</footer>
</article>

