<script>
function Impressao( preVisualizar )
{
	var CorpoMensagem = document.body.innerHTML;
	document.body.innerHTML = ImprimirConteudo.innerHTML;
	if( preVisualizar )
	{
		PreVisualizar();
	}
	else
	{
		window.print();
	}
	document.body.innerHTML = CorpoMensagem;
}

function PreVisualizar()
{
	try
	{
		 //Utilizando o componente WebBrowser1 registrado no MS Windows Server 2000/2003 ou XP/Vista
		 var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
		 document.body.insertAdjacentHTML('beforeEnd', WebBrowser);
		 WebBrowser1.ExecWB( 7, 1 );
		 WebBrowser1.outerHTML = "";
	}
	catch(e)
	{
		alert("Para visualizar a impressão você precisa habilitar o uso de controles ActiveX na página.");
		return;
	}
}
</script>

<script type="text/javascript">
function printDiv(id, pg) {
	var oPrint, oJan;
	oPrint = window.document.getElementById(id).innerHTML;
	oJan = window.open(pg);
	oJan.document.write(oPrint);
	oJan.window.print();
       oJan.document.close();
       oJan.focus();
}
</script>
<%=stylesheet_link_tag "relatorio" -%>
<%content_for :links do%>
    <a class="current">Listas</a>
    
<%end%>
<article class="module width_full">

<h3><a href="javascript:Impressao( false );"><a href="#" onclick="printDiv('ImprimirConteudo','janela')">Imprimir</a></h3>

<%n=0%>
<div id="ImprimirConteudo">


<TABLE WIDTH=100% CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=51*>
	<COL WIDTH=51*>
	<COL WIDTH=51*>
	<COL WIDTH=51*>
	<COL WIDTH=51*>
	<TR VALIGN=TOP>
		<TD WIDTH=20% HEIGHT=85 STYLE="border-top: 0px solid black; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD COLSPAN=3 WIDTH=50% STYLE="border-top: 0px solid #000000; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P CLASS="western" ALIGN=CENTER><%=image_tag "/images/carta/logo.jpg",:size=>"74x77"%><BR>
			</P>
		</TD>
		<TD WIDTH=20% STYLE="border: 0px solid #000000; border-bottom: 0px solid #000000; padding: 0.1cm">
			<P CLASS="western"><%=image_tag "/images/carta/logo_amapa.jpg",:size=>"121x76"%><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=5 WIDTH=100% VALIGN=TOP STYLE="border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">GOVERNO
			DO ESTADO DO AMAPÁ<br>
			SECRETARIA
			DE ESTADO DA EDUCAÇÃO<br>
			COORDENADORIA
			DE ADMINISTRAÇÃO
		</TD>
	</TR>

	<TR>
		<TD COLSPAN=5 WIDTH=100% VALIGN=TOP STYLE="; border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">Pessoas inclusas na lista de <%=@tipo_lista.nome%></FONT></P>
		</TD>
	</TR>
	<br/>
	<br/>

	</table>

<%= table_for(@funcionarios,:html=>{}) do |t| %>
<%= t.data do %>
<% t.cell(:nº) {}%>
<% t.cell(:nome) {|f|f.pessoa.nome}%>
<% t.cell(:matricula,:cell_html =>{:align=>:center})%>
<% t.cell(:nível,:cell_html =>{:align=>:center}) {|f|cod(f.nivel)}%>
<% t.cell(:cpf,:cell_html =>{:align=>:center}) {|f|Cpf.new(f.pessoa.cpf)}%>
<% t.cell(:quadro,:cell_html =>{:align=>:center}) {|f|f.entidade.sigla}%>
<% t.cell(:contato,:cell_html =>{:align=>:center}) {|f|telefones(f.pessoa)}%>
<% t.cell(:ultima_localização,:cell_html =>{:align=>:center}) {|f|l_ant(f)[0..29]}%>
<%end%>
<%end%>

</div>	
<footer>
</footer>
</article>
