<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Listando quadros</h3>
		<ul class="tabs">
   			<%= form_for @search do |f| %>
   			<li><%= f.text_field :busca,:size=>12 %></li>
    		<li><%= image_submit_tag "icn_busca.png" %></li>
			<% end %>
		</ul>
		</header>
    
		
<table class="tablesorter" cellspacing="0">
<thead>
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>Esfera</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @quadros.each do |quadro| %>
  <tr>
    <td><%= quadro.codigo %></td>
    <td><%= quadro.nome %></td>
    <td><%= quadro.esfera.nome %></td>
    <td><%= link_to 'Detalhes', quadro %></td>
    <td><%= link_to  image_tag('/images/icn_edit.png',:title=>"Editar"), edit_quadro_path(quadro) %></td>
    <td><%= link_to  image_tag("/images/icn_trash.png",:title=>"Apagar"), quadro, :confirm => 'Tem certeza que deseja Apagar?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<footer>
				<div class="submit_link">
				  <%= link_to 'Cadastrar Quadro', new_quadro_path,:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', :back,:type=>"submit" %>
				</div>
			</footer>
</article>

