<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Listando folha_competencias</h3>
		<ul class="tabs">
   			<%= form_for @search do |f| %>
   			<li><%= f.text_field :busca,:size=>12 %></li>
    		<li><%= image_submit_tag "icn_busca.png" %></li>
			<% end %>
		</ul>
		</header>
    <div class="tab_container">
		<div id="tab1" class="tab_content">
<table class="tablesorter" cellspacing="0">
<thead>
  <tr>
    <th>Nome</th>
    <th>Motivo</th>
    <th>Padrao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @folha_competencias.each do |folha_competencia| %>
  <tr>
    <td><%= folha_competencia.nome %></td>
    <td><%= folha_competencia.motivo %></td>
    <td><%= folha_competencia.padrao %></td>
    <td><%= link_to 'Detalhes', folha_competencia %></td>
    <td><%= link_to  image_tag('/images/icn_edit.png',:title=>"Editar"), edit_folha_competencia_path(folha_competencia) %></td>
    <td><%= link_to  image_tag("/images/icn_trash.png",:title=>"Apagar"), folha_competencia, :confirm => 'Tem certeza que deseja Apagar?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
<footer>
				<div class="submit_link">
				  <%= link_to 'Cadastrar Competencia', new_folha_competencia_path,:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', :back,:type=>"submit" %>
				</div>
			</footer>
</article>

