 <script type="text/javascript">

 Event.observe(window, 'load', function() {

  new MaskedInput('#date', '99/99/9999');
  new MaskedInput("#pessoa_telefone_residencial", '(99) 9999-9999');
  new MaskedInput('#pessoa_telefone_celular', '(99) 9999-9999');
  new MaskedInput('#pessoa_cpf', '999.999.999-99');
  new MaskedInput('#ssn', '999-99-9999');
  new MaskedInput('#product', 'a*-999-a999');

  new MaskedInput('#eyescript', '~9.99 ~9.99 999', {
    completed: function(){
      alert("You typed the following: " + this.getValue());
    }
  });

  MaskedInput.definitions['~']='[+-]';

  new MaskedInput('#eyescript2', '~9.99 ~9.99 999', {
    completed: function(){
      alert("You typed the following: " + this.getValue());
    }
  });
});
 </script>
 <article class="module width_full">
  <header><h3><%=legenda%></h3></header>
  <div class="module_content">


    <%= form_for(@pessoa) do |f| %>
    <% if @pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa.errors.count, "erro","erros") %> impedem esta pessoa de ser cadastrada:</h2>

      <ul>
        <% @pessoa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%=f.hidden_field :entidade_id,:value=>current_user.entidade_id%>

    <%if current_user.role?("ucolom")==true%>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :telefone_residencial %><br />
      <%= f.text_field :telefone_residencial,:style=>"width:92%;" %>

    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :telefone_celular %><br />
      <%= f.text_field :telefone_celular,:style=>"width:92%;" %>
    </fieldset>
    <%else%>

    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :nome %><br />
      <%= f.text_field :nome,:style=>"width:92%;" %>

    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :sexo %><br /><br />
      <%= f.select :sexo,Pessoa::SEXO,:prompt=>true,:style=>"width:92%;" %>
    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <table border=0>
        <tr>
          <th ALIGN=LEFT WIDTH="80%">ENDEREÇO</th>
          <th ALIGN=LEFT WIDTH="20%">NÚMERO</th>
        </tr>
        <tr>
          <td WIDTH="80%"><%= f.text_field :endereco,:style=>"width:90%;" %></td>

          <td WIDTH="20%"><%= f.text_field :numero,:style=>"width:60%;" %></td>
        </tr>
      </table>

    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :complemento %><br />
      <%= f.text_field :complemento,:style=>"width:92%;" %>

    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <div id="cidade">

        <%= f.label :cidade %><br />
        <%= f.text_field :cidade,:style=>"width:92%;" %>
      </div>
    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :bairro %><br />
      <%= f.text_field :bairro,:style=>"width:92%;" %>

    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :telefone_residencial %><br />
      <%= f.text_field :telefone_residencial,:style=>"width:92%;" %>

    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :telefone_celular %><br />
      <%= f.text_field :telefone_celular,:style=>"width:92%;" %>

    </fieldset>

    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :data_de_nascimento %><br /><br />
      <%= calendar_date_select :data,:nascimento, :year_range => 91.years.ago..0.years.ago, :style=>"width:36%;" %>

    </fieldset>

    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :naturalidade %><br />
      <%= f.text_field :naturalidade,:prompt=>true,:style=>"width:92%;" %>
      <br /><br />
    </fieldset>

    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :nacionalidade %><br /><br />
      <%= f.select :nacionalidade,Pessoa::NACION,:style=>"width:92%;" %>

    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :cpf %><br />
      <%= f.text_field :cpf,:style=>"width:92%;" %>

    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :rg %><br />
      <%= f.text_field :rg,:style=>"width:92%;" %>

    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :uf %><br /><br />
      <%= f.select :uf,Pessoa::UF,:prompt=>"UF",:style=>"width:92%;" %>

    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :pis_pasep %><br />
      <%= f.text_field :pis_pasep,:style=>"width:92%;" %>

    </fieldset>

<!--
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :ano_de_chegada %><br />
        <%= f.text_field :ano_de_chegada,:style=>"width:92%;" %>

  </fieldset>
-->

<fieldset style="width:48%; float:left; margin-right: 1%;">
  <%= f.label :estado_civil %><br /><br />
  <%= f.select :estado_civil,Pessoa::ESTCIV,:prompt=>"Indique o estado cívil",:style=>"width:92%;" %>
  <br/>
</fieldset>

</fieldset>
<fieldset style="width:48%; float:left; margin-right: 1%;">
  <%= f.label :título_de_eleitor %><br />
  <%= f.text_field :titulo_eleitor,:style=>"width:92%;" %>

</fieldset>
<fieldset style="width:48%; float:left; margin-right: 1%;">
  <%= f.label :zona_eleitoral %><br />
  <%= f.text_field :zona_eleitoral,:style=>"width:92%;" %>

</fieldset>
<fieldset style="width:48%; float:left; margin-right: 1%;">
  <%= f.label :seção %><br />
  <%= f.text_field :secao,:style=>"width:92%;" %>

</fieldset>
<% end %>
<div class="clear"></div>
</div>
<footer>
  <div class="submit_link">
   <%=f.submit "Salvar",:class=>"alt_btn" %> ou <%=link_to 'Cancelar',:back%>
 </div>
</footer>
<% end %>
</article>
