<%content_for :links do%>
		<%=link_to "Pessoas",pessoas_path%><div class="breadcrumb_divider"></div><a class="current">Boletins</a>
<%end%>


<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Listando Boletins Pessoais</h3>
		<ul class="tabs">
		</ul>
		</header>
    <div class="tab_container">
		<div id="tab1" class="tab_content">
<table class="tablesorter" cellspacing="0" >
<thead>
  <tr>
    <th>Mês</th>
    <th>Ano</th>
    <th>Tipo</th>
    <th>Folha</th>
    <th colspan=4>Ações</th>
   </tr>
</thead>
<tbody>
<% @boletins.each do |boletim| %>
  <tr>
    <td><%= boletim.mes %></td>
    <td><%= boletim.ano %></td>
    <td><%= boletim.tipo %></td>
    <td><%= boletim.folha %></td>
    <td><%= link_to "Exibir boletim",pessoa_exibir_boletim_path(:boletim_id=>boletim.id)%>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
<footer>
				<div class="submit_link">
				  <%= link_to 'Gerar boletim', pessoa_gerar_boletim_path(@pessoa.id),:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', :back,:type=>"submit" %>
				</div>
         <div class="submit_link">
        </div>
			</footer>
</article>
<div class="spacer"></div>

