<%content_for :links do%>
		<%=link_to "Pessoa",pessoas_path%><div class="breadcrumb_divider"></div><a class="current">Detalhes da pessoa</a>

<%end%>
<article class="module width_3_quarter">
<header><h3>Detalhes de <%=@pessoa.nome%></h3></header>
<div class="module_content">

<b>Nome:</b>
  <%= @pessoa.nome %>
</p>

<p>
  <b>Sexo:</b>
  <%= @pessoa.sexo %>
</p>

<p>
  <b>Telefone residencial:</b>
  <%= @pessoa.telefone_residencial %>
</p>

<p>
  <b>Telefone celular:</b>
  <%= @pessoa.telefone_celular %>
</p>


<p>
  <b>Endereço:</b>
  <%= @pessoa.endereco %>
</p>

<p>
  <b>Número:</b>
  <%= @pessoa.numero %>
</p>

<p>
  <b>Complemento:</b>
  <%= @pessoa.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @pessoa.bairro %>
</p>

<p>
  <b>Nascimento:</b>
  <%= @pessoa.nascimento.to_s_br %>
</p>

<p>
  <b>Naturalidade:</b>
  <%= @pessoa.naturalidade %>
</p>

<p>
  <b>Nacionalidade:</b>
  <%= @pessoa.nacionalidade %>
</p>

<p>
  <b>CPF:</b>
  <%= Cpf.new("#{@pessoa.cpf}").numero %>
</p>

<p>
  <b>RG:</b>
  <%= @pessoa.rg %>
</p>

<p>
  <b>PIS/PASEP:</b>
  <%= @pessoa.pis_pasep %>
</p>

<p>
  <b>UF:</b>
  <%= @pessoa.uf %>
</p>

<p>
  <b>Cidade:</b>
  <%= @pessoa.cidade %>
</p>

<p>
  <b>Ano de chegada:</b>
  <%= @pessoa.ano_de_chegada %>
</p>

<p>
  <b>Estado civil:</b>
  <%= @pessoa.estado_civil %>
</p>

<p>
  <b>Título eleitor:</b>
  <%= @pessoa.titulo_eleitor %>
</p>

<p>
  <b>Zona eleitoral:</b>
  <%= @pessoa.zona_eleitoral %>
</p>

<p>
  <b>Seção:</b>
  <%= @pessoa.secao %>
</p>



</div>
<div class="clear"></div>
<footer>
				<div class="submit_link">
          <% if can? :edit, Pessoa%>
				  <%= link_to 'Editar', edit_pessoa_path(@pessoa),:class=>"alt_btn",:type=>"submit"%> ou
          <% end %>
          <%= link_to 'Funcionarios da Pessoa', pessoa_funcionarios_path(@pessoa),:class=>"alt_btn",:type=>"submit" if can? :manage,Funcionario%> ou
				  <%= link_to 'Voltar', pessoas_path,:type=>"submit" %>
				</div>
			</footer>
</article>

<article class="module width_quarter">
<%= foto(@pessoa) %>
</div>
