<article class="module width_full">
<header><h3><%=legenda%></h3></header>
<div class="module_content">


<%= form_for @administracao_migracao,:html => {:multipart => true}  do |f| %>
  <% if @administracao_migracao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administracao_migracao.errors.count, "erro impede","erros impedem") %> este administracao_migracao de ser cadastrado:</h2>
      <ul>
      <% @administracao_migracao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :entidade_id %><br />
        <%= f.text_field :entidade_id,:style=>"width:92%;" %>
    
  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :tipo %><br />
        <%= f.text_field :tipo,:style=>"width:92%;" %>
    
  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :numero_registros %><br />
        <%= f.text_field :numero_registros,:style=>"width:92%;" %>
    
  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :contador %><br />
        <%= f.text_field :contador,:style=>"width:92%;" %>
    
  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :origem %><br />
        <%= f.text_field :origem,:style=>"width:92%;" %>
    
  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :motivo %><br />
        <%= f.text_field :motivo,:style=>"width:92%;" %>
    
  </fieldset>

<fieldset style="width:48%; float:left; margin-right: 1%;">
     <%= f.file_field :arquivo %>
  </fieldset>

<div class="clear"></div>
</div>
        <footer>
				<div class="submit_link">
					<%=f.submit "Salvar",:class=>"alt_btn" %> ou <%=link_to 'Cancelar',:back%>
				</div>
			</footer>
<% end %>
</article>
