<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Listando folha_fonte_recursos</h3>

		</header>
    <div class="tab_container">
		<div id="tab1" class="tab_content">
<table class="tablesorter" cellspacing="0">
<thead>
  <tr>
    <th>Nome</th>
    <th>Esfera</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @folha_fonte_recursos.each do |folha_fonte_recurso| %>
  <tr>
    <td><%= folha_fonte_recurso.nome %></td>
    <td><%= folha_fonte_recurso.esfera_id %></td>
    <td><%= link_to 'Detalhes', folha_fonte_recurso %></td>
    <td><%= link_to  image_tag('/images/icn_edit.png',:title=>"Editar"), edit_folha_fonte_recurso_path(folha_fonte_recurso) %></td>
    <td><%= link_to  image_tag("/images/icn_trash.png",:title=>"Apagar"), folha_fonte_recurso, :confirm => 'Tem certeza que deseja Apagar?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
<footer>
				<div class="submit_link">
				  <%= link_to 'Cadastrar Fonte recurso', new_folha_fonte_recurso_path,:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', :back,:type=>"submit" %>
				</div>
			</footer>
</article>

