<h4>Estatísticas - Professores</h4>
<table border=1 WIDTH='100%'>
	<thead>
		<tr>
			<th>Disciplina</th>
			<th>Qnt.</th>
			<th>%</th>
			<th WIDTH=1%>Lotados</th>
			<th>%</th>
			<th WIDTH=1%>Especificados</th>
			<th>%</th>
		</tr>
	</thead>
	<tbody>
		<%@disciplinas.each do |d|%>
		<tr>
			<td><%=d.nome%></td>
			<td ALIGN=CENTER><%=d.funcionarios.count%></td>
			<td ALIGN=CENTER><%=(d.funcionarios.count*100)/@professores.count%></td>
			<td ALIGN=CENTER><%=d.funcionarios.find(:all,:joins=>[:lotacoes_atuais]).count%></td>
			<td ALIGN=CENTER><%=(d.funcionarios.find(:all,:joins=>[:lotacoes_atuais]).count*100)/d.funcionarios.count%></td>
			<td ALIGN=CENTER><%=d.funcionarios.find(:all,:joins=>[:especificacoes]).count%></td>
			<td ALIGN=CENTER><%=(d.funcionarios.find(:all,:joins=>[:especificacoes]).count*100)/d.funcionarios.count%></td>
		</tr>
		<%end%>
		<tr>
			<td><b>Indefinidos</b></td>
			<td ALIGN=CENTER><%=@indefinidos.count%></td>
			<td ALIGN=CENTER><%=(@indefinidos.count*100)/@professores.count%></td>
			<td ALIGN=CENTER><%=@i_lotados.count%></td>
			<td ALIGN=CENTER><%=(@i_lotados.count*100)/@indefinidos.count%></td>
			<td ALIGN=CENTER><%=@i_especificados.count%></td>
			<td ALIGN=CENTER><%=(@i_especificados.count*100)/@indefinidos.count%></td>
		</tr>
	</tbody>
</table>