<%content_for :links do%>
		<%=link_to "Referência/Níveis",referencia_niveis_path%><div class="breadcrumb_divider"></div><a class="current">Detalhes</a>

<%end%>
<article class="module width_full">
<header><h3>Detalhes de Refêrencia/Nível </h3></header>
<div class="module_content">


<p>
  <b>Nome:</b>
  <%= @referencia_nivei.nome %>
</p>

<p>
  <b>Codigo:</b>
  <%= @referencia_nivei.codigo %>
</p>

<p>
  <b>Vencimento:</b>
  <%= @referencia_nivei.vencimento.valor.reais_contabeis %>
</p>

<p>
  <b>Funcionarios:</b>
  <%= @referencia_nivei.funcionarios.size %>
</p>




</div>
<footer>
				<div class="submit_link">
				  <%= link_to 'Editar', edit_referencia_nivel_path(@referencia_nivei),:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', referencia_niveis_path,:type=>"submit" %>
				</div>
			</footer>
</article>
