<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Listando ponto_assinaturas</h3>
		<ul class="tabs">
   			<%= form_for @search do |f| %>
   			<li><%= f.text_field :busca,:size=>12 %></li>
    		<li><%= image_submit_tag "icn_busca.png" %></li>
			<% end %>
		</ul>
		</header>
    
		
<table class="tablesorter" cellspacing="0">
<thead>
  <tr>
    <th>Ip assinatura</th>
    <th>Ponto diario</th>
    <th>Data assinatura</th>
    <th>Assinado</th>
    <th>Valido</th>
    <th>Evento</th>
    <th>Tipo</th>
    <th>Dia</th>
    <th>Mes</th>
    <th>Ano</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @ponto_assinaturas.each do |ponto_assinatura| %>
  <tr>
    <td><%= ponto_assinatura.ip_assinatura %></td>
    <td><%= ponto_assinatura.ponto_diario_id %></td>
    <td><%= ponto_assinatura.data_assinatura %></td>
    <td><%= ponto_assinatura.assinado %></td>
    <td><%= ponto_assinatura.valido %></td>
    <td><%= ponto_assinatura.evento_id %></td>
    <td><%= ponto_assinatura.tipo %></td>
    <td><%= ponto_assinatura.dia %></td>
    <td><%= ponto_assinatura.mes %></td>
    <td><%= ponto_assinatura.ano %></td>
    <td><%= link_to 'Detalhes', ponto_assinatura %></td>
    <td><%= link_to  image_tag('/images/icn_edit.png',:title=>"Editar"), edit_ponto_assinatura_path(ponto_assinatura) %></td>
    <td><%= link_to  image_tag("/images/icn_trash.png",:title=>"Apagar"), ponto_assinatura, :confirm => 'Tem certeza que deseja Apagar?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<footer>
				<div class="submit_link">
				  <%= link_to 'Cadastrar Ponto assinatura', new_ponto_assinatura_path,:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', :back,:type=>"submit" %>
				</div>
			</footer>
</article>

