 <table class="tablesorter" cellspacing="0">
          <thead>
            <tr>
              <th>Turno</th>
              <th>Série</th>
              <th>Nome</th>
              <th>Matriz Curricular</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <%@turmas.each do |t|%>
            <tr>
              <td><%=t.turno%></td>
              <td><%=t.serie.nome%></td>
              <td><%=link_to t.nome,"#"%></td>
              <td><%=cod(t.matriz)%></td>
              <td><%=link_to "Controle de Turma", escola_controle_turma_path(@escola,:turma=>t.nome),:remote=>true%></td>
            </tr>
            <%end%>
          </tbody>
        </table>