<%= form_for(@escola) do |f| %>
<%= hidden_field_tag :notice,"Escola configurada com sucesso"%>
<fieldset style="width:48%; float:left;  height: auto; margin-right: 1%;">
	<%= f.label :niveis_de_ensino %><br /><br />
	<% for nivel in NiveisEnsino.order(:nome)%>
	<div title="<%=nivel.nome%>" style="float: left;">
	<%= check_box_tag "escola[nivel_ids][]", nivel.id, @escola.niveis.include?(nivel) %>
	<%= nivel.nome %>
	</div>
	<% end %>

</fieldset>
<fieldset style="width:48%; float:left; margin-right: 1%;">
	<%= f.label :ano_letivo %><br />
	<%= f.select :ano_letivo_id,@anos_letivos,:style=>"width:92%;",:prompt=>true %>

</fieldset>
<%=f.submit "Salvar configurações"%>

<%end%>