<%content_for :links do%>
  <a class="current">Escolas</a>
<%end%>
<article class="module width_full">
  <header>
    <h3 class="tabs_involved">Escolas cadastradas</h3>
    <ul class="tabs">
      <%= search_form_for @q,:url=>escolas_path do |f| %>
        <%= f.search_field :nome_or_codigo_or_municipio_nome_cont,:size=>12 %>
        <li><%= image_submit_tag "icn_busca.png" %></li>
      <% end %>
    </ul>
  </header>
  <table class="tablesorter" cellspacing="0">
    <thead>
      <tr>
        <th WIDTH=2%>Código</th>
        <th>Nome</th>
        <th>Rede</th>
        <th>Município</th>
        <th colspan=5>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @escolas.each do |escola| %>
        <tr>
          <td WIDTH=2%><%= raw("#{highlight(escola.codigo,@busca)}") %></td>
          <td><%= raw("#{highlight(escola.nome.upcase, @busca)}") %></td>
          <td><%= detalhes(escola.entidade,true) %></td>
          <td><%= detalhes(escola.municipio) %></td>
          <%if (can? :manage,Escola and escola.id==current_user.escola_id) or current_user.role?(:admin)%>
            <td><%= link_to 'Detalhes', escola %></td>
            <td><%= link_to image_tag('icn_config.png',:title=>'Configurações'), escola_configuracoes_path(escola),:rel=>'facebox',:rev=>"height:300px;width:500px"%></td>
            <td><%= link_to  image_tag('/images/icn_edit_article.png',:title=>"Editar"), edit_escola_path(escola) %></td>
            <td><%= link_to  image_tag("/images/icn_trash.png",:title=>"Apagar"), escola, :confirm => 'Tem certeza que deseja Apagar?', :method => :delete %></td>
            <td><%= link_to  image_tag("/images/icn_unity.png",:title=>"Configura Ambientes"),escola_ambientes_path(escola) %></td>
          <% elsif can? :inspecionar,Escola%>
            <td><%= link_to 'Detalhes', escola %></td>
          <%else%>
            <td><%=image_tag('block.png',:title=>'Você não tem permissão para acessar as informações dessa escola, apenas da sua.')%></td>
            <td><%=image_tag('block.png',:title=>'Você não tem permissão para acessar as informações dessa escola, apenas da sua.')%></td>
            <td><%=image_tag('block.png',:title=>'Você não tem permissão para acessar as informações dessa escola, apenas da sua.')%></td>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <footer>
    <div class="submit_link">
      <%= link_to 'Cadastrar Escola', new_escola_path,:class=>"alt_btn",:type=>"submit"%> ou
      <%= link_to 'Voltar', :back,:type=>"submit" %>
    </div>
    <div class="submit_link">
      <%= will_paginate @escolas %>
    </div>
  </footer>
</article>