<%content_for :links do%>
<%=link_to "Escolas",escolas_path%><div class="breadcrumb_divider"></div><a class="current">Detalhes</a>
<%end%>
<article class="module width_full">
  <header><h3>Detalhes da Escola: <%=@escola.nome_da_escola.titleize%> </h3></header>
  <div class="module_content">
    <div id="tabs1" class="tabset">
      <ul class="tabset_tabs">
        <li><a href="#tab-um">Detalhes</a></li>
        <li><a href="#tab-dois">Quadro funcional</a></li>
        <li><a href="#tab-tres">Turmas</a></li>
      </ul>

      <div class="tabset_content_container">
        <div id="tab-one" class="tabset_content">
          <p>
            <b>Código:</b>
            <%= @escola.codigo %>
          </p>

          <p>
            <b>Nome:</b>
            <%= @escola.nome_da_escola %>
          </p>

          <p>
            <b>Diretor:</b>
            <%= detalhes(@escola.diretor) %>
          </p>

          <%if !@escola.secretario.nil?%>
          <p>
            <b>Secretário:</b>
            <%= detalhes(@escola.secretario) %>
          </p>
          <%end%>

          <%if !@escola.diretor_adjunto.nil?%>
          <p>
            <b>Diretor Adjunto:</b>
            <%= detalhes(@escola.diretor_adjunto) %>
          </p>
          <%end%>

          <p>
            <b>Tipologia:</b>
            <%= @escola.tipologia %>
          </p>


          <p>
            <b>Rede:</b>
            <%= detalhes(@escola.esfera) %>
          </p>

          <p>
            <b>Zona:</b>
            <%= @escola.zona %>
          </p>

          <p>
            <b>Endereço:</b>
            <%= @escola.endereco %>
          </p>

          <p>
            <b>Cidade:</b>
            <%= @escola.municipio.nome %>
          </p>

          <p>
            <b>Telefone:</b>
            <%= @escola.telefone %>
          </p>

          <p>
            <b>Fax:</b>
            <%= @escola.fax %>
          </p>

          <p>
            <b>Email:</b>
            <%= @escola.email %>
          </p>
        </div>
        <div id="tab-two" class="tabset_content" style='overflow-y: scroll; height: 200px;'>
          <table class="tablesorter" cellspacing="0">
            <thead>
              <tr>
                <th>Matrícula</th>
                <th>Funcionário</th>
                <th>Cargo</th>
                <th title="Regência Semanal Disponível">Reg. Disp.</th>
                <th>Ações</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @funcionarios.each do |f| %>
              <tr>
               <td><%= f.matricula %></td>
               <td><%= detalhes(f.pessoa) %></td>
               <td><%= cargo_resumido(f) %></td>
               <td title='<%=turmas(f)%>'><%= cor_rsd(f)%></td>
               <td><%= link_to  image_tag('/images/icn_especificar.png',:title=>"Especificar Lotação"), pessoa_funcionario_lotacao_especificar_lotacao_path(f.pessoa,f,@escola.lotacoes.ativo .find_by_funcionario_id(f.id),@escola),:rel=>"facebox",:rev=>"height:300px;width:500px"%></td>
             </tr>
             <% end %>
           </tbody>
         </table>
       </div>


       <div id="tab-three" class="tabset_content">
        <%=render :partial=>'turmas'%>
      </div>

    </div>
  </div>




</div>
<footer>
  <div class="submit_link">
    <%= link_to 'Editar', edit_escola_path(@escola),:class=>"alt_btn",:type=>"submit"%> ou
    <%= link_to 'Voltar', escolas_path,:type=>"submit" %>
  </div>
</footer>
</article>
