<article class="module width_full">
<header><h3><%=legenda%></h3></header>
<div class="module_content">


<%= form_for @orgao,:url=>orgaos_url do |f| %>
  <% if @orgao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orgao.errors.count, "error") %> prohibited this orgao from being saved:</h2>

      <ul>
      <% @orgao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=f.hidden_field :entidade_id,:value=>current_user.entidade_id%>

<fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :esfera_id %><br />
        <%= f.select :esfera_id,@esferas,:prompt=>true,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :codigo %><br />
        <%= f.text_field :codigo,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :nome %><br />
        <%= f.text_field :nome,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :sigla %><br />
        <%= f.text_field :sigla,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :telefone %><br />
        <%= f.text_field :telefone,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :endereco %><br />
        <%= f.text_field :endereco,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :numero %><br />
        <%= f.text_field :numero,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :complemento %><br />
        <%= f.text_field :complemento,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :grupo %><br />
        <%= f.text_field :grupo,:style=>"width:92%;" %>

  </fieldset>
<div class="clear"></div>
</div>
        <footer>
				<div class="submit_link">
					<%=f.submit "Salvar",:class=>"alt_btn" %> ou <%=link_to 'Cancelar',:back%>
				</div>
			</footer>
<% end %>
</article>
