<article class="module width_full">
<header><h3><%=legenda%></h3></header>
<div class="module_content">


<%= form_for @vencimento,:url=>referencia_nivel_vencimentos_path(@nivel,@vencimento) do |f| %>
  <% if @vencimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vencimento.errors.count, "erro impede","erros impedem") %> este vencimento de ser cadastrado:</h2>

      <ul>
      <% @vencimento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=f.hidden_field :referencia_nivel_id,:value=>@nivel.id%>


  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :ano %><br />
        <%= f.text_field :ano,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :mes %><br />
        <%= f.text_field :mes,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :valor %><br />
        <%= f.text_field :valor,:style=>"width:92%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :atual %><br />

    <%= f.check_box :atual,:style=>"width:40%;" %>

  </fieldset>
<div class="clear"></div>
</div>
        <footer>
				<div class="submit_link">
					<%=f.submit "Salvar",:class=>"alt_btn" %> ou <%=link_to 'Cancelar',:back%>
				</div>
			</footer>
<% end %>
</article>
