<article class="module width_full">
  <header><h3><%=legenda%></h3></header>
  <div class="module_content"><%= form_for(@folha_folha) do |f| %>
  <% if @folha_folha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folha_folha.errors.count, "erro impede","erros impedem") %> este folha_folha de ser cadastrado:</h2>

      <ul>
      <% @folha_folha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=f.hidden_field :entidade_id,:value=>current_user.entidade_id%>

  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :competencia %><br />
        <%= f.select :competencia_id,@competencias,:style=>"width:92%;",:prompt=>"Selecione a Competência da Folha" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :ano %><br /><br />
    <%=select_year(Date.today, :field_name => 'ano', :prefix => 'folha_folha',:start_year => 2000)%>


  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :mes %><br /><br />
    <%=select_month(Date.today, :field_name => 'mes', :prefix => 'folha_folha')%>


  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :padrao %><br /><br/>

    <%= f.check_box :padrao,:style=>"width:40%;" %>

  </fieldset>
  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label "Fonte de Recursos"%><br /><br/>
        <%= f.select :fonte_recurso_id,@recursos,:style=>"width:92%;" %>
  </fieldset>


  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :ativa %><br />

    <%= f.check_box :ativa,:style=>"width:40%;" %>

  </fieldset>
<div class="clear"></div>
</div>
        <footer>
				<div class="submit_link">
					<%=f.submit "Salvar",:class=>"alt_btn" %> ou <%=link_to 'Cancelar',:back%>
				</div>
			</footer>
<% end %>
</article>
