<%content_for :links do%>
    <%=link_to "Papéis",roles_path%><div class="breadcrumb_divider"></div><a class="current">Detalhes</a>

<%end%>
<article class="module width_full">
<header><h3>Detalhes do papel </h3></header>
<div class="module_content">


<p>
  <b>Nome:</b>
  <%= @role.name %>
</p>

<p>
  <b>Nome completo:</b>
  <%= @role.fullname %>
</p>

<p>
  <b>Descrição:</b>
  <%= @role.description %>
</p>

</div>
<footer>
				<div class="submit_link">
				  <%= link_to 'Editar', edit_role_path(@role),:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', roles_path,:type=>"submit" %>
				</div>
			</footer>
</article>

