<article class="module width_full">
<header><h3><%=legenda%></h3></header>
<div class="module_content">


<%= form_for @ponto,:url=> pessoa_funcionario_lotacao_pontos_url(@pessoa,@funcionario) do |f| %>
  <% if @ponto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ponto.errors.count, "erro impede","erros impedem") %> este ponto de ser cadastrado:</h2>

      <ul>
      <% @ponto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <%=f.hidden_field :lotacao_id,:value=>@lotacao.id%>
   <%=f.hidden_field :funcionario_id,:value=>@funcionario.id%>
   <%=f.hidden_field :entidade_id,:value=>@funcionario.entidade_id%>

  <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :data %><br />
        <%= f.date_select :data,:start_year=>2001,:discard_day=>true,:order=>[:month, :year],:style=>"width:10;" %>

  </fieldset>
<div class="clear"></div>
</div>
        <footer>
				<div class="submit_link">
					<%=f.submit "Salvar",:class=>"alt_btn" %> ou <%=link_to 'Cancelar',:back%>
				</div>
			</footer>
<% end %>
</article>
