<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Listando pontos</h3>

		</header>
    
		
<table class="tablesorter" cellspacing="0">
<thead>
  <tr>
    <th>Entidade</th>
    <th>Funcionario</th>
    <th>Lotacao</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @pontos.each do |ponto| %>
  <tr>
    <td><%= ponto.entidade_id %></td>
    <td><%= ponto.funcionario_id %></td>
    <td><%= ponto.lotacao_id %></td>
    <td><%= ponto.data %></td>
    <td><%= link_to  image_tag("/images/printer.png",:title=>"Imprimir"), pessoa_funcionario_lotacao_ponto_gerar_arquivo_path(@pessoa,@funcionario,@lotacao,ponto)%></td>
    <td><%= link_to  image_tag("/images/icn_trash.png",:title=>"Apagar"), pessoa_funcionario_lotacao_ponto_path(@pessoa,@funcionario,@lotacao,ponto), :confirm => 'Tem certeza que deseja Apagar?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<footer>
				<div class="submit_link">
				  <%= link_to 'Cadastrar Ponto', new_pessoa_funcionario_lotacao_ponto_path(@pessoa,@funcionario,@lotacao),:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', :back,:type=>"submit" %>
				</div>
			</footer>
</article>
