
<%= form_for @comissionado do |f| %>
<% if @comissionado.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@comissionado.errors.count, "erro impede","erros impedem") %> este comissionado de ser cadastrado:</h2>

<ul>
<% @comissionado.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>

<%= f.hidden_field :funcionario_id,:value=>@funcionario.id,:style=>"width:92%;" %>
<%=f.hidden_field :entidade_id,:value=>current_user.entidade_id%>



<fieldset style="width:48%; float:left; margin-right: 1%;">
<%= f.label :data %><br /><br />
<%= f.date_select :data,:start_year=>1970,:order=>[:day,:month,:year],:style=>"width:40%;",:prompt=>true %>

</fieldset>

<fieldset style="width:48%; float:left; margin-right: 1%;">
<%= f.label :decreto %><br /><br />
<%= f.text_field :decreto,:style=>"width:86%;" %>

</fieldset>
<fieldset style="width:48%; float:left; margin-right: 1%;">
<%= f.label :data_publicação %><br /><br />
<%= f.date_select :data_publicacao,:start_year=>1970,:order=>[:day,:month,:year],:style=>"width:40%;",:prompt=>true %>

</fieldset>
<fieldset style="width:48%; float:left; margin-right: 1%;">
<%= f.label :orgão_id %><br /><br />
<%= f.select :orgao_id,@orgaos,:prompt=>true,:selected=>5,:style=>"width:92%;"  %>

</fieldset>

<%=observe_field "comissionado_orgao_id", :url => "/comissionados/tipo_destino",
:frequency => 0.25,
:update=>:tipo,
:with => 'tipo'%>

<div id ='tipo'><%=render :partial=>'comissionados/tipo'%> </div>
<%=if params[:departamento] then (params[:departamento][:nome]) end%>

<fieldset style="width:48%; float:left; margin-right: 1%;">
<%= f.label :Descrição_comissão %><br /><br />
<%= f.text_field :descricao_comissao,:style=>"width:92%;" %>

</fieldset>


<div class="submit_link">
<%=f.submit "Salvar",:class=>"alt_btn" %> ou <%=link_to 'Cancelar',:back%>
</div>


<% end %>
