<%= javascript_include_tag "mascara.js" %>

<%content_for :links do%>
<%=link_to "Pessoas",pessoas_path%><div class="breadcrumb_divider"></div><%=link_to "Funcionários",pessoa_funcionarios_path(@pessoa)%><div class="breadcrumb_divider"></div><a class="current">Editando Funcionários</a>

<%end%>
<article class="module width_full">
  <header><h3>Editando funcionários de <%=@pessoa.nome.titleize%></h3></header>
  <div class="module_content">




    <%= form_for @funcionario, :url=>pessoa_funcionario_url do |f| %>
    <% if @funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcionario.errors.count, "erro impede","erros impedem") %> este funcionário de ser cadastrado:</h2>

      <ul>
        <% @funcionario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    
    <%if current_user.role?("lotacao")==true%>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :disciplina_de_contratação %><br /><br />
      <%= f.select :disciplina_contratacao_id,@disciplinas,:prompt=>"Selecione a disciplina de contratação",:style=>"width:92%;" %>

    </fieldset>

    <%else%>

    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :matricula%><br />
      <%#if !@funcionario.matricula.blank?%>
      <%#= f.text_field :matricula,:disabled=>true,:style=>"width:92%;" %>
      <%#else%>
      <%= f.text_field :matricula,:style=>"width:92%;" %>
      <%#end%>
    </fieldset>

    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :cargo_id %><br /><br />
      <%= f.select :cargo_id,@cargos,:prompt=>"Selecione o Cargo" %>

    </fieldset>

    <!--<fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :codigo_sirh%><br />
      <%= f.text_field :codigo_sirh,:disabled=>true,:style=>"width:92%;" %>

    </fieldset>-->


    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :quadro %><br />
      <% if !@funcionario.entidade.nil?%>
      <%= f.text_field :entidade_id,:disabled=>true,:value=>@funcionario.entidade.nome,:style=>"width:92%;"%>
      <% else%>
      <%=select :funcionario,:entidade_id,@entidades,:prompt=>true,:style=>"width:92%;"%>
      <% end%>

    </fieldset>

    <!--<fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :folha %><br />
      <% if !@funcionario.fonte_recurso.nil?%>
      <%=text_field :funcionario,:fonte_recurso_id,:disabled=>true,:value=>placeholder(@funcionario.fonte_recurso),:style=>"width:92%;"%>
      <%else%>
      <%=select :funcionario,:fonte_recurso_id,@recursos,:prompt=>true,:style=>"width:92%;"%>
      <%end%>
    </fieldset>-->

    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <label> Categoria Funcional </label> <br/><br />
      <%=f.select :categoria_id,@categorias,:prompt=>"Indique a categoria funcional",:style=>"width:92%;" %>
      
    </fieldset>

    <%=observe_field :funcionario_categoria_id, :url => "/funcionarios/categoria",
    :frequency => 0.25,
    :update => :munic,
    :with => 'categoria'%>

    <div id=disc>
      <%if @funcionario.cargo and @funcionario.cargo.tipo and @funcionario.cargo.tipo.nome=='Magistério/Docência' -%>
      <fieldset style="width:48%; float:left; margin-right: 1%;">
        <%= label_tag :disciplina_de_contratacao %><br />
        <%=select :funcionario,:disciplina_contratacao_id,@disciplinas,:prompt=>true,:style=>"width:92%;"%>
      </fieldset>
      <%end%>
    </div>

    <%=observe_field :funcionario_cargo_id, :url => "/funcionarios/cargo",
    :frequency => 0.25,
    :update => :disc,
    :with => 'disciplina'%>

    <%if GrupoEducacional.count>0 -%>
    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <label>Grupos Educacionais</label><br/><br/>
      <% for grupo in GrupoEducacional.find(:all) -%>
      <%= check_box_tag "funcionario[grupos_educacional_ids][]", grupo.id, @funcionario.grupos_educacionais.include?(grupo) %>
      <%= grupo.nome %>
      <% end -%>
    </fieldset>
    <% end -%>

    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :nivel_id %><br /><br />
      <%= f.select :nivel_id,@niveis,:style=>"width:92%;",:prompt=>"Selecione a Referência/Nível do Funcionário" %>

    </fieldset>

    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :orgao %><br /><br />
      <%= f.select :orgao_id,@orgaos,:style=>"width:92%;",:selected=>5,:prompt=>"Selecione o Orgão" %>
      
    </fieldset>



    <!--<fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :situação_jurídica %><br /><br />
      <%= f.select:sjuridica_id,@sitjuridicas,:style=>"width:92%;",:prompt=>"Selecione a Situação Jurídica" %>
      
    </fieldset>-->



    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :decreto_de_nomeação %><br /><br />
      <%= f.text_field :decreto_nomeacao,:style=>"width:92%;" %>

    </fieldset>

    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :data_da_nomeação %><br /><br />
      <%if @funcionario.data_nomeacao.blank?%>
      <%= f.text_field :data_nomeacao,:class=>"date",:style=>"width:92%;"%>
      <%else%>
      <%= f.text_field :data_nomeacao,:value=>@funcionario.data_nomeacao.to_s_br,:class=>"date",:style=>"width:92%;" %>
      <% end%>
    </fieldset>

    <fieldset style="width:48%; float:left; margin-right: 1%;">
      <%= f.label :termo_de_posse %><br /><br />
      <%= f.text_field :termo_posse,:style=>"width:92%;" %>

    </fieldset>

    <div id='munic'>
      <%if @funcionario.cargo and @funcionario.cargo.tipo and (@funcionario.cargo.tipo.nome=='Magistério/Docência' or @funcionario.cargo.tipo.nome=='Magistério/Técnico-pedagógico') and @funcionario.categoria and (@funcionario.categoria.nome=="Estado Novo" or @funcionario.categoria.nome=="Contrato Administrativo")%>
      <fieldset style="width:48%; float:left; margin-right: 1%;">
        <%= f.label :municipio_de_opção %><br /><br />
        <%= f.select :municipio_id,@municipios,:prompt=>"Selecione o Município" %>

      </fieldset>

      <%=observe_field :funcionario_municipio_id, :url => "/funcionarios/distrito",
      :frequency => 0.25,
      :update => :dist,
      :with => 'municipio'%>

      <div id=dist>

        <%if @funcionario.distrito%>
        <fieldset style="width:48%; float:left; margin-right: 1%;">
          <%= label_tag :distrito_de_opção %><br /><br />
          <%=f.text_field :distrito_id,:style=>"width:92%;",:disabled=>true,:value=>detalhes(@funcionario.distrito)%>
        </fieldset>
        <%end%>
      </div>

      <%end%>
    </div>


    <!--<fieldset style="width:97%; float:left; margin-right: 1%;">
      <table>
        <tr>
          <th align=left><%= f.label :banco %></th>
          <th align=left><%= f.label :agencia %></th>
          <th align=left><%= f.label :conta %></th>
        </tr>
        <tr>
         <td><%= f.select :banco,Funcionario::BANCO,:style=>"width:92%;",:prompt=>true %></td>
         <td><%= f.text_field :agencia,:style=>"width:92%;" %></td>
         <td><%= f.text_field :conta,:style=>"width:92%;" %></td>
       </tr>
     </table>
     

   </fieldset>-->


   <fieldset style="width:48%; float:left; margin-right: 1%;">
    <%= f.label :observacao %><br /><br />
    <td><%= f.text_field :observacao,:style=>"width:92%;" %></td>
  </fieldset>



  <%end%>


</div>
<div class="clear"></div>

<footer>
  <div class="submit_link">
   <%=f.submit "Salvar",:class=>"alt_btn" %> ou <%=link_to 'Cancelar',:back%>
 </div>
</footer>
<% end %>
<div class="clear"></div>


</article>
