<%if @lotacao.tipo_lotacao=="REGULAR"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
	<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
	</head>
	<body>
	<table border=1 id="background-image" align="center" style="background: url('<%=Rails.root.join('public','images','carta/logo_grande.png').to_s%>') 0px 470px no-repeat;width: 200px;">


		<tr>
			<td width=33,3%></td>
			<td  width=33,3%><%=wicked_pdf_image_tag "../images/carta/logo.jpg",:style=>"align='left'"%></td>
			<td align=right width=33,3%><%=wicked_pdf_image_tag "../images/carta/logo_amapa.jpg",:width=>"150", :height=>"100"%></td>
		</tr>

		<tr>
			<td colspan=3 align=center>
				GOVERNO DO ESTADO DO AMAPÁ<br/>
				SECRETARIA DE ESTADO DA EDUCAÇÃO<br/>
				COORDENADORIA DE ADMINISTRAÇÃO<br/>
				NÚCLEO DE PESSOAL<br/>
        UNIDADE DE CADASTRO<br/>
			</td>
		</tr>




		<tr>
			<td colspan=3 align=left>
				<br/><br/>
				<br/><br/>
        <br/>
        <br/>
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AO NUPES/SEED <b></b>
  		</td>
		</tr>

		<tr>
			<td colspan=3 align=justify><br/><br/>
        <br/>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%=@pessoa.nome%></b> – pertence ao Quadro de Pessoal civil do <b><%=detalhes(@funcionario.quadro)%></b>, admitido (a) em <b><%=@funcionario.data_nomeacao.to_s_br%></b>, ocupante do cargo de <b><%=detalhes(@funcionario.cargo)%></b>, <b><%=detalhes(@funcionario.nivel)%></b>, matrícula <b><%=@funcionario.matricula%></b>, lotado (a) na <b><%=detalhes(@lotacao.escola.orgao)%></b>, exercendo sua atividade funcional na <b><%=detalhes_str(@lotacao.escola.nome_da_escola)%></b> com jornada semanal de <b><%=detalhes_str(@funcionario.jornada)%> horas</b>.
          Município de Opção: <b><%=detalhes(@funcionario.municipio)%></b>
          Disciplina: <b><%=detalhes(@funcionario.descricao_cargo)%>.</p></b>
          <br/><br/><br/><br/><center>Cordialmente,</center><br/><br/><br/><br/>
      </td>
    </tr>

    <tr>
     <td colspan=3>d</td>
		</tr>
	</table>

	</body>
</html>
<%end%>

