<%if @lotacoes.size>0 %>
<%if @lotacao.tipo_lotacao=="REGULAR" or @lotacao.tipo_lotacao=="PROLABORE" or @lotacao.tipo_lotacao=="SUMARIA" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
	<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
	</head>
	<body>
	<table border=0 id="background-image" align="center"  >


		<tr>
			<td width=35%></td>
			<td  width=100%><%=wicked_pdf_image_tag "../images/carta/logo.jpg",:style=>"align='left'"%></td>
		</tr>

		<tr>
			<td colspan=3 align=center>
				GOVERNO DO ESTADO DO AMAPÁ<br/>
				SECRETARIA DE ESTADO DA EDUCAÇÃO<br/>
				COORDENADORIA DE ADMINISTRAÇÃO<br/>
				NÚCLEO DE PESSOAL<br/>
        UNIDADE DE CADASTRO<br/>
			</td>
		</tr>




		<tr>
			<td colspan=3 align=left>
				<br/><br/>
				<br/><br/>
<br/>
<br/>


<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AO NUPES/SEED <b></b>

			</td>
		</tr>

		<tr>
			<td colspan=3 align=justify><br/><br/>
<br/>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%=@pessoa.nome%></b>, pertencente ao Quadro de Pessoal civil do <b><%=detalhes(@funcionario.quadro)%></b>, admitido (a) em <b><%=@funcionario.data_nomeacao.to_s_br%></b>, ocupante do cargo de <b><%=detalhes(@funcionario.cargo)%></b>, referência <b><%=detalhes(@funcionario.nivel)%></b>, matrícula <b><%=@funcionario.matricula%></b>, lotado (a) na <b><%=detalhes(@lotacao.escola.orgao).upcase%></b>, exercendo sua atividade funcional no(a) <b><%=detalhes_str(@lotacao.escola.nome_da_escola)%></b>, com jornada semanal de <b><%=detalhes_str(@funcionario.sjuridica.jornada)%> horas</b>.<br/>
<b><%=if @funcionario.municipio then ("Município de Opção: #{@funcionario.municipio.nome}") end%></b><br/>
<b><%=if @funcionario.descricao_cargo then ("Disciplina: #{@funcionario.descricao_cargo.nome}.") end%></p></b>
<br/><br/><br/><br/><center>Cordialmente,</center><br/><br/><br/><br/>
    </td>
    </tr>

   <tr>
				<td colspan=3><p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>____________________________________<br/>
				Emilly Rodrigues Coelho da Silva<br/>
				Chefe da UCADA<br/>
				Decreto nº 0357/2015-GEA</td>
		</tr></p>
<br />
<br /><br />


	</table>

	</body>
</html>
<%elsif @lotacao.tipo_lotacao=="ESPECIAL"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
	<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
	</head>
	<body>
	<table border=0 id="background-image" align="center" >


		<tr>
			<td width=35%></td>
			<td  width=100%><%=wicked_pdf_image_tag "../images/carta/logo.jpg",:style=>"align='left'"%></td>
			
		</tr>

		<tr>
			<td colspan=3 align=center>
				GOVERNO DO ESTADO DO AMAPÁ<br/>
				SECRETARIA DE ESTADO DA EDUCAÇÃO<br/>
				COORDENADORIA DE ADMINISTRAÇÃO<br/>
				NÚCLEO DE PESSOAL<br/>
        UNIDADE DE CADASTRO<br/>
			</td>
		</tr>




		<tr>
			<td colspan=3 align=left>
				<br/><br/>
				<br/><br/>
<br/>
<br/>


<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AO NUPES/SEED <b></b>

			</td>
		</tr>

		<tr>
			<td colspan=3 align=justify><br/><br/>
<br/>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%=@pessoa.nome%></b>, pertencente ao Quadro de Pessoal civil do Estado, admitido (a) em <b><%=@funcionario.data_nomeacao.to_s_br%></b>, ocupante do cargo de <b><%=detalhes(@funcionario.cargo)%></b>, referência <b><%=detalhes_str(@funcionario.nivel.codigo)%></b>, matrícula <b><%=@funcionario.matricula%></b>, lotado (a) no (a) <b><%=detalhes(@lotacao.orgao).upcase%></b>, exercendo sua atividade funcional no(a) <b><%=detalhes(@lotacao.departamento)%></b>, com jornada semanal de <b><%=detalhes_str(@funcionario.sjuridica.jornada)%> horas</b>.<br/>
<b><%=if @funcionario.municipio then ("Município de Opção: #{@funcionario.municipio.nome}") end%></b><br/>
<b><%=if @funcionario.descricao_cargo then ("Disciplina: #{@funcionario.descricao_cargo.nome}.") end%></p></b>
<br/><br/><br/><br/><center>Cordialmente,</center><br/><br/><br/><br/>
    </td>
    </tr>

   <tr>
				<td colspan=3><p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>____________________________________<br/>
				Emilly Rodrigues Coelho da Silva<br/>
				Chefe da UCADA<br/>
				Decreto nº 0357/2015-GEA</td>
		</tr></p>
<br />
<br /><br />


	</table>

	</body>
</html>
<%end%>
<%else%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
	<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
	</head>
	<body>
	<table border=0 id="background-image" align="center" >


		<tr>
			<td width=35%></td>
			<td  width=100%><%=wicked_pdf_image_tag "../images/carta/logo.jpg",:style=>"align='left'"%></td>
			
		</tr>

		<tr>
			<td colspan=3 align=center>
				GOVERNO DO ESTADO DO AMAPÁ<br/>
				SECRETARIA DE ESTADO DA EDUCAÇÃO<br/>
				COORDENADORIA DE ADMINISTRAÇÃO<br/>
				NÚCLEO DE PESSOAL<br/>
        UNIDADE DE CADASTRO<br/>
			</td>
		</tr>




		<tr>
			<td colspan=3 align=left>
				<br/><br/>
				<br/><br/>
<br/>
<br/>


<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AO NUPES/SEED <b></b>

			</td>
		</tr>

		<tr>
			<td colspan=3 align=justify><br/><br/>
<br/>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%=@pessoa.nome%></b>, pertencente ao Quadro de Pessoal civil do <b><%=detalhes(@funcionario.quadro)%></b>, admitido (a) em <b><%=@funcionario.data_nomeacao.to_s_br%></b>, ocupante do cargo de <b><%=detalhes(@funcionario.cargo)%></b>, referência <b><%=detalhes_str(@funcionario.nivel.codigo)%></b>, matrícula <b><%=@funcionario.matricula%></b>, lotado (a) no(a) <b><%=destino(@lotacao)%></b>, com jornada semanal de <b><%=detalhes_str(@funcionario.sjuridica.jornada)%> horas</b>.<br/>
<b><%=if @funcionario.municipio then ("Município de Opção: #{@funcionario.municipio.nome}") end%></b><br/>
<b><%=if @funcionario.descricao_cargo then ("Disciplina: #{@funcionario.descricao_cargo.nome}.") end%></p></b>
<br/><br/><br/><br/><center>Cordialmente,</center><br/><br/><br/><br/>
    </td>
    </tr>

   <tr>
				<td colspan=3><p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>____________________________________<br/>
				Emilly Rodrigues Coelho da Silva<br/>
				Chefe da UCADA<br/>
				Decreto nº 0357/2015-GEA</td>
		</tr></p>
<br />
<br /><br />


	</table>

	</body>
</html>
<%end%>
